body{
    font-family: Sans-serif;
}
h1{
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
h3{
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
h1,h3{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
.expander{
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    user-select: none;
}
.text{
    margin-left: 5%;
    margin-right: 5%;
    border:4px black double;
    /*border-radius: 10px;*/
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
}
.text:hover{
    border:4px black dashed;
}
.nbt{
    font-size: 20px;
    color: rgb(38, 0, 255);
    transition: 0.3s;
}
.lit{
    color: rgb(38, 0, 255);   
}
.nbt:hover{
    font-size: 30px;
}
.textBDU{
    border-bottom: 4px solid lightgray;
}
.plain{
    font-size:30px;
}
.ta{
    text-align: center;
}
.cmcHover{
    color:black;
    transition: 0.3s;
}
.cmcHoverr{
    color:blue;
    transition: 0.3s;
}
.cmcHoverBLUE{
    color:blue;
    transition: 0.3s;
}
.gray{
    color: gray;
}
.cmcHoverBLUE:hover{
    color:lightblue;
    transition: 0.3s;
}
.cmcHover:hover{    
    color:lightgray;
}
#tbc{
    color:gray;
    border: 4px dotted;
}
.lister{
    font-size:20px;
    color:gray;
    transition: 0.3s;
}
.lister:hover{
    font-size:20px;
    color: black;
}
.foot{
    font-size: 10px;
    font-family:sans-serif;
}
#background{
    background-color: rgb(240, 240, 240);
    border-radius: 15px;   
    margin-left: 5%;
    margin-right: 5%;
}
.mini{
    font-size: 15px;
}
#text2{
    background-color: rgb(240, 240, 240);
    border-radius: 0px;   
}
.nbtMini{
    font-size: 10px;
    color: rgb(38, 0, 255); 
}
a:link {
    color: rgb(38, 0, 255);   
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(38, 0, 255);   
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(38, 0, 255);   
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: rgb(115, 90, 255);   
    background-color: transparent;
    text-decoration: none;
}
