.section{border-bottom: 1px solid black;font-weight: 10;margin-bottom: 1%;margin-top: 1%;}
.src{font-weight: 10;font-size:26px;}
main{margin-left:10%;margin-right:10%;} 
main img{width:200px!important;height:263px!important;border-style:solid;border-width: 1px!important;margin-left: 0.5%;}
div img{width: 100px;height:calc(263px/2);}
main img{float: right!important;}
div img{float: left;}
.fix{margin-right:230px; }
p{margin-right: 15px;}
a{color:rgb(0, 123, 255);text-decoration: none;}
a:hover{text-decoration: underline;}
r{color:rgb(255, 0, 0);}
cc{color:rgb(0, 183, 255)}
.top{
    margin-left:5%!important;
    margin-right:5%!important;
    margin-top: 1%;
}
h1{
    margin: 0%;
    padding: 0%;
    font-weight: 100;
    /* font-size: 30px!important; */
}
h2,h3,h1{
  font-weight: 100;
}
*{margin:0%;}
.articleExtra{
  float: right;
  margin-right: 5%;
}
.mobile{
  margin-right: 5%;
  margin-left: 5%;
}
.grid{border-right:1px solid gray;background-color:rgb(238,238,238);padding-left:2px;padding-right:2px;}
.gridEnd{background-color:rgb(238,238,238);padding-left:2px;padding-right:2px;}
table{background-color:rgb(238,238,238);}
.box{float:right;width:200px;height:180px;border:1px solid black;background-color:rgb(245, 245, 245);}
.mobileBox{width:200px;height:180px;border:1px solid black;background-color:rgb(255, 255, 255);overflow: hidden;}

/* .mobileBox{display: block;float: left;text-align: center;width: 160px !important;height: 180px !important;margin-right: 10px;border:1px solid black;background-color:rgb(238, 238, 238);} */
.boxInfo{margin-top:10px;text-align: center;}
.bc-border{border-style:solid;border-width: 1px!important;}
.mobileBoxText{display: block;text-align: left!important;}
.off{
  display: none;
}
