 h1{border-bottom: 1px solid black;font-weight: 10;font-size:30px;}
  src{font-weight: 10;font-size:26px;}
  main{margin-left:10%;margin-right:10%;} 
  main img{width:200px!important;height:263px!important;}
  div img{width: 100px;height:calc(263px/2);}
  main img{float: right!important;}
  div img{float: left;}
  .fix{margin-right:230px; }
  p{margin-right: 15px;}
  a{color:rgb(0, 123, 255);text-decoration: none;}
  a:hover{text-decoration: underline;}
  r{color:rgb(255, 0, 0);}
  cc{color:rgb(0, 183, 255)}
  top{font-weight: 10;font-size:30px;margin:5%;}
  topSub{margin:5%;}
  articleExtra{
    float: right;
    margin-right: 5%;
  }
  .mobile{
    margin-right: 5%;
    margin-left: 5%;
  }
  .grid{border-right:1px solid gray;background-color:rgb(238,238,238);padding-left:2px;padding-right:2px;}
  .gridEnd{background-color:rgb(238,238,238);padding-left:2px;padding-right:2px;}
  table{background-color:rgb(238,238,238);}
  box{float:right;width:200px;height:180px;border:1px solid black;background-color:rgb(238, 238, 238);}
  mobileBox{float:left;width:136px;height:165px;border:1px solid black;background-color:rgb(238, 238, 238);margin-right:5px;}
 .boxInfo{margin-top:10px;text-align: center;}
 .bc-border{border-style:solid;border-width: 1px!important;}
